* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.section-1 {
    background-image: url(barber-chair.jpg);
    background-attachment: fixed;
    height: 100%;
    background-size: cover;
}

.section-1-text {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    color: #000000;

}

.section-1-title {
    font-size: 4.2em;
    background-color: white;
}

.section-1-sub {
    font-size: 1.5em;
    color: white;
}

.schedule {
    width: 200px;
    height: 260px;
    background-color: #ffffff;
    margin: 10px 0px 0px 100px;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);

}

.timings {
    font-size: 3.5em;
}

.days {
    float: left;
    list-style-type: none;
    font-size: 1.4em;
    margin-left: 10px;
}

.hours {
    float: right;
    list-style: none;
    font-size: 1.4em;
    margin-right: 10px;
}
