* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

html,
body,
header {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

div {
    display: block;
}

.navbar {
    min-height: 50px;
    background-color: #ffffff;
}

.nav-hr {
    height: 3px;
    background-color: linear-gradient(90deg, rgba(5, 73, 20, 1) 3%, rgba(15, 107, 35, 1) 50%, rgba(18, 117, 40, 1) 100%);

}

.navbar-default {
    border-bottom: 1px white solid;
}

.left-line-out {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    color: linear-gradient(90deg, rgba(5, 73, 20, 1) 3%, rgba(15, 107, 35, 1) 50%, rgba(18, 117, 40, 1) 100%);
}

.left-line-out:after {
    content: '';
    display: block;
    margin-top: 2px;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.left-line-out:hover:after {
    width: 100%;
    background: linear-gradient(90deg, rgba(5, 73, 20, 1) 3%, rgba(15, 107, 35, 1) 50%, rgba(18, 117, 40, 1) 100%);
}

.main-section {
    height: 50%;
    background-image: url(barber-chair.jpg);
    background-attachment: fixed;
    background-size: cover;
}
