* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
}

.title {
    width: auto;
}

.sub {
    width: auto;
}

/* Navigation Bar - Start */

.side-navigation {
    background-color: red;
    height: 100%;
    min-height: 100%;
    width: 300px;
    min-width: 200px;
    border-right: white 10px solid;
    background: #215f00;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #e4e4d9, #215f00);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #e4e4d9, #215f00);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: fixed;
}

.profile-img-size {
    margin-top: 125%;
    min-height: 100%;
    min-width: 100%;
}

.sub-profile-img {
    list-style-type: none;
    padding: 10px;
    width: 50%;
    margin-left: 25%;
}


/* --------------------*/

.main {
    margin-left: 300px;
    background-color: skyblue;
    min-width: 100%;

}

.about {
    padding-top: 450px
}

.works {}


.image-size-container {
    width: 100%;
    min-width: 200px;
}

.image-size {
    width: 100%;
    min-width: 200px;
}

.work-title-container {
    width: auto;
    height: auto;
}

















.nav-links {}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    ...
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    ...
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    ...
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    ...
}
