* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;

}

html,
body {
    height: 100%;
    margin: 0;
}

.grid-container {
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 25% 25% 25% 25% 20%;
    align-content: center;
}

.grid-container > div {
    background-color: #ffc9c9;
    text-align: center;
}
