* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
}


/* Navigation Bar - Start */

.navbar {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 3px;
    background-color: white;
    z-index: 1;
}

.left-line-out {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    color: green;
}

.left-line-out:after {
    content: '';
    display: block;
    margin-top: 2px;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.left-line-out:hover:after {
    width: 100%;
    background: green;
}

.glyphicon {
    color: green;
}


/* Green bar that hovers when mouse is over the bar */

.green-divider {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(0, 100, 0, 1) 50%, rgba(255, 255, 255, 1) 100%);
    height: .2rem;
}

.section-1 {
    background-image: url(white-stairs.jpg);
    height: 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -100;

}

.about {
    position:
}


.section-2 {
    background-image: url(green-leaves.jpg);
    height: 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -100;
}

.section-3 {
    background-image: url(blue-sky.jpg);
    height: 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -100;
}

.section-4 {
    background-image: url(red-bg.jpg);
    height: 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -100;
}
