.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 50% 50%;
    align-content: center;
    height: 1000px;
}

.grid-container > div {
    background-color: #ffc9c9;
    margin: 3px;
    text-align: center;
    align-content: space-between;
}
