* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}


/* Navigation Bar - Start */

.navbar {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 2px;
    z-index: 1;
    background-color: white;
    position: absolute;
    width: 100%;
    height: 60px;
}

.left-line-out {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    color: white;
}

.left-line-out:after {
    content: '';
    display: block;
    margin-top: 2px;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.left-line-out:hover:after {
    width: 100%;
    background: #ff0000;
}

.section-1 {
    height: 50%;
    background-image: url(roadway.jpg);
    background-attachment: fixed;
    background-size: cover;

}

.name-title {
    color: green;
    position: relative;
}
